<h3>Here Is What Our ProGrads Have to Say</h3>

<div class="testimonial">
    <div class ="sub_testimonial1">
        <img src="../assets/user_icon.png">
        <h4 class="name">AMUDHAN S, FSD0620B113</h4>
        <p>I am able to get a hands on experience and practical knowledge of the theoretical concepts of the programming languages<br> 
            only after joining the ProGrad course. I once again express my gratitude from my heart to my Mentors, #Code_Helpers <br> 
            and the whole team of Face Prep for giving me this awesome oppurtunity.
            <span class="span_red">#ProGradForever</span> 
        </p>
    </div>

    <div id="line_div"></div>

    <div class ="sub_testimonial2">
        <img src="../assets/user_icon.png">
        <h4 class="name">SHAIK MAHAMMAD, FSD0620A101</h4>
        <p>Launching my career as a Computer Scientist at Delium Technologies is really a dream come true <br>
            and i would like to dedicate a great part of my success to FACE Prep. I thank the entire team of FACE Prep for putting <br>
            in all the efforts to help me achieve my goal. 
            <span class="span_red">#ProudProGrad</span> 
        </p>
    </div>
</div><br><br>

<div id="post_div">
    <h3 class="heading">NAME</h3>
    <input class="textbox" type="text" placeholder="Enter your name"><br><br>
    <h3 class="heading">SHARE YOUR EXPERIENCE</h3>
    <input class="textbox" id="exp_textbox" type="text" placeholder="My journey as a ProGrad........"><br>
    <input id ="post_btn" type="submit" value="POST">
</div>

<div id="empty_div"></div>
